[Unit]
Description=Common Mail-related Web-Server

[Service]
User=discoveryd
Group=discoveryd
ExecStart=/usr/local/bin/discoveryd

[Install]
WantedBy=multi-user.target